<div class="site-nav-div">
<nav class="site-nav">
      	<a href="/" class="menu-icon">Home</a> </br>
	<span>Writings</span></br>
	<div style="padding-left:10px; line-height:30px;">
      	<span class="menu-icon"><a href="/climate_change/"> Climate Change </a></span></br>
	<span class="menu-icon"><a href="/midland_university/"> Midland University </a></span></br>
	<span class="menu-icon"><a href="/neoliberalism/"> Neoliberalism and Social Democracy </a></span></br>
      	<span class="menu-icon"><a href="/personal/"> Personal </a></span></br>
      	<span class="menu-icon"><a href="/transport/"> Transport and Urban Planning </a></span></br>
	</div>
</nav>
</div>
